

@font-face {
	font-family: poppins;
	src: url('./fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
	font-family: poppins-title;
	src: url('./fonts/Poppins/Poppins-Bold.ttf');
}

body {
	font-family: poppins;
	margin: 0;

	background-color: #222;
	color: white;
}

th {
	border-bottom: 1px solid white;
	border-collapse:collapse;
}

.charts-list {
	border: 1px solid white;
	border-collapse:collapse;
}

.charts-header {
	width:10%;
}

.charts-header-comments {
	width:60%;
}

/* i suck absolute ass w/ html+css so like... expect a lot of w3school link comments. 
		   i'll try to get better w/ it eventually i swear */
/* https://www.w3schools.com/howto/howto_css_responsive_header.asp */
/* header */
.header {
	overflow: hidden;
	/* position: absolute; */
	width: 100%;
	background-color: #FF8400;
	box-sizing: inherit;
}

/* Header links */
.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 0px;

	transition-duration: .2s;
}

/* Title */
.header a.title {
	font-size: 25px;
	font-weight: 400;
	font-family: poppins-title;
}

/* mouse hover */
.header a:hover {
	background-color: #ffa94d;
	color: black;
}

/* active */
.header a.active {
	background-color: #884804;
	color: white;
}

.header a.inactive {
	opacity:.6;
	cursor:not-allowed;
}

.header-right {
	float: right;
}

/* w3 shit ends here */

.title-card {
	margin-top: 25px;
	text-align: center;
	display: block;
}

.title-card-top {
	font-size: 64px;
	padding-bottom: 20px;
	font-weight: 500;
}

.title-card-desc {
	top: 0;
	font-size: 24px;
	font-weight: 100;
	margin: 0;
}

